
    ::selection {
      background-color: #CDDC39;;
      color: #323336;
    }
    #main{
      height:100vh;
      color: #fff;
      background: url(../img/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .first-half {
      height:100vh;
      background: rgba(0, 0, 0, 0.5);
    }
    .first-half .content-left{
      width: 80%;
      margin: 40vh auto auto auto;
      text-align: right;
    }
    .second-half .content-right{
      width: 80%;
      margin: 40vh auto auto auto;
      color: #363942;
    }
    .second-half{
      height:100vh;
      background: rgba(255,255,255, 0.6);
    }
    .first-half h1, .second-half h1{ 
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      font-size: 45px;
      line-height: 1.3;
      margin-bottom: 40px;
      letter-spacing: 1.5px;
    }
    .btn-cyan, .btn-lime  {
      background: #00BCD4;
      color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      border: none;
      padding: 15px 28px;
      font-weight: 600;
      font-size: 14px;
      outline: none; 
      -webkit-transition: all .3s ease 0s;
      -moz-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;
    }
    .btn-lime  {
      background: #CDDC39;
      float: right;
    }


    /* Coming Soon */

    .coming span {
      -webkit-animation-name: blink;
              animation-name: blink;
      -webkit-animation-duration: 1.4s;
              animation-duration: 1.4s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
    }

    .coming span:nth-child(2) {
      -webkit-animation-delay: .2s;
              animation-delay: .2s;
    }

    .coming span:nth-child(3) {
      -webkit-animation-delay: .4s;
              animation-delay: .4s;
    }

    @-webkit-keyframes blink {
      0% {
        opacity: .2;
      }
      20% {
        opacity: 1;
      }
      100% {
        opacity: .2;
      }
    }

    @keyframes blink {
      0% {
        opacity: .2;
      }
      20% {
        opacity: 1;
      }
      100% {
        opacity: .2;
      }
    }
    /* End Coming Soon */

    /*  Scroll Down Arrow */

    .scroll-section {
      height: 100vh;
      width: 100%;
      display: table;
      
    } 

    .scroll-section  p{
      color: white;
      font-family: arial;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    .scroll-down {
      opacity: 1;
      -webkit-transition: all .5s ease-in 3s;
      transition: all .5s ease-in 3s;
    }

    .scroll-down {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -16px;
      display: block;
      width: 32px;
      height: 32px;
      border: 2px solid #FFF;
      background-size: 14px auto;
      border-radius: 50%;
      z-index: 2;
      -webkit-animation: bounce 2s infinite 2s;
      animation: bounce 2s infinite 2s;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
    }

    .scroll-down:before {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 2px solid white;
        border-width: 0px 0 2px 2px;
    }

    @keyframes bounce {
      0%,
      100%,
      20%,
      50%,
      80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
      }
      60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
      }
    }
        /* End Scroll Down Arrow */

    /*  About */
    .about{ 
      height: 400px;
    }

    /*  End About */

    /*  Listings */

    .listings{ 
      height: 600px;
      background-color: #eee;
    }
    .inner-table{
      width: 100%;
    }
    .item-title {
      color: #000000;
      font-family: ;
      text-decoration: none;
      font-size: 16px;
      position: relative;
      text-decoration: none;
    }
    .item-title, .item-title{
      color: #00BCD4;
    }
    .inner-table .glyphicon{
      top: 4px;
      right: 4px;
    }
    #listings-table td {
      vertical-align: middle;
      width: 20%;
    }
    #listings-table td:first-child, #listings-table td:last-child {
      width:15%;
    }
    #listings-table td:nth-child(3), #listings-table td:nth-child(4) {
      width:25%;
    }
    .price-box{
      text-align: center;
    }
    #listings-table td p {
      margin: 0;
    }   
   .type {
      color: #838383;
      font-size: 14px;
      position: relative;
    }
    .value {
      color: #3F3F3F;
      font-size: 14px;
      font-weight: bold;
    }
    .price-value{
      color: #CDDC39;
      font-size: 30px;
      padding-top: 5px;
      vertical-align: bottom;
    }
    /*  End Listings */

    /*  Blog */
    .blog{ 
      height: 500px;
      text-align: left;
    }
    .article {
      width: 100%;
    }
    /*  End Blog */




    /* Gradient */
    .gradient{ 
      background-image: url(../img/gradient-bg.png);
      background-repeat: repeat-y;
      background-size: contain;
      background-position: center center; 
      background: -webkit-gradient(linear, left top, right top, from(#CDDC39), to(#00BCD4));
      background: -webkit-linear-gradient(left, #CDDC39, #00BCD4);
      background: -moz-linear-gradient(left, #CDDC39, #00BCD4);
      background: -ms-linear-gradient(left, #CDDC39, #00BCD4);
      background: -o-linear-gradient(left, #CDDC39, #00BCD4);
    }
    .map-overlay{
      background-image: url(../img/map.png);
      background-position: center center;
      background-color: rgba(0, 0, 0, 0.5);
    }
    /* End Gradient  */ 

    /* Form */
    .about-title, .listings-title, .contact-title, .application-title {
      font-family: 'Raleway', sans-serif;
      text-align: center;
      margin-top: 40px;
    }
    .about-title, .listings-title, .application-title {
      color:#363942;
      margin-bottom:40px;
    }
    .contact-title, .application-title {
      color: rgba(255,255,255, 0.8);
    }
    .application-title{
      margin-top: 30px;
      margin-bottom:0px;
    }
    .form {
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    }
    .form-container {
      background: rgba(255,255,255,0.2);
      height: 300px;
      margin: 30px 0 70px;
      border-radius: 2px;
    }
    .form-container .form-row {
      margin-right: 0px; 
      margin-left: 0px;
    }
    .form-container .form-row:first-child{
      margin-top: 40px;
    }
    .form-container textarea {
      resize: none;
    }
    .form-container input, .form-container textarea {
      background: transparent;
      color: rgba(255,255,255, 0.8);
    }
    .has-float-label input:placeholder-shown:not(:focus)+*, .has-float-label textarea:placeholder-shown:not(:focus)+*{
      font-size:14px;
    }
    .has-float-label label, .has-float-label>span {
      color: rgba(205,220,57, 0.7);
    }
    .has-float-label input:placeholder-shown:not(:focus)+*, .has-float-label select:placeholder-shown:not(:focus)+*, .has-float-label textarea:placeholder-shown:not(:focus)+* {
      color:rgba(255,255,255,.7);
    }
    .has-float-label input, .has-float-label select, .has-float-label textarea {
      border-bottom: 1px solid rgba(255,255,255,.4);
      box-shadow: none;
    }
    .has-float-label input:focus, .has-float-label select:focus, .has-float-label textarea:focus {
      -webkit-box-shadow: none,
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
      border-bottom: 1px solid rgba(14,97,97,.8);
    } 

    /* Radio Buttons */
    .radio-row {
      text-align: center;
      margin-top: 10px;
    }
    .label--radio {
      color: rgba(255,255,255, 0.8);
    }
    .radio {
      position: relative;
      margin: 0 1rem 0 0;
      cursor: pointer;
    }
    .radio:before {
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      content: "";
      position: absolute;
      top: 2.25px;
      left: 0.25rem;
      z-index: 1;
      width: 0.75rem;
      height: 0.75rem;
      background: #025F69;
      border-radius: 50%;
    }
    .radio:checked:before {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    .radio:after {
      content: "";
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      background: #f2f2f2;
      border: 2px solid #f2f2f2;
      border-radius: 50%;
    }
    /* End Radio Buttons */

    input,
    input:active {
      background-position: 0 24px;
    }
    input:checked {
      background-position: 0 0;
    }
    input:checked ~ input,
    input:checked ~ input:active {
      background-position: 0 -24px;
    }

    
    .btn-contact {
      height: 300px;
      background-color: #CDDC39;
      color: #fff;
      -webkit-border-radius: 0 2px 2px 0;
      -moz-border-radius: 0 2px 2px 0;
      -ms-border-radius: 0 2px 2px 0;
      border-radius: 0 2px 2px 0;
      border: none;
      padding: 15px 28px;
      font-weight: 600;
      font-size: 14px;
      outline: none; 
      float:right;
      -webkit-transition: all .3s ease 0s;
      -moz-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;
    }
    .btn-contact:hover {
      color: #fff;
    }

    /* END Form */

    /*Footer*/
    
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
        background: #303036;
        color: rgba(255,255,255,.7);
        text-align: center;
    } 
    footer .copyright {
      font-size: 10px;
      margin-top: 10px;
    }
    
    .widget .links-list {
      list-style: none;
      padding-left: 0;
    }
    .widget .links-list li {
      padding-bottom: 7px;
    }
    footer a {
      color: #6b6d6f;
    }
    footer a:hover {
      color: #fff;
    }
    footer a:focus, a:hover {
      color: #97999c;
      text-decoration: none;
      -webkit-transition: all .3s ease 0s;
      -moz-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;
      cursor: pointer;
    } 
     /* END footer */ 



     /* Application Form-Wizard */


        @import url(http://fonts.googleapis.com/css?family=Montserrat);
        /*basic reset*/
        * {
        margin: 0;
        padding: 0;
        }
        html {
        }


         /* Back to Website */ 

  .go-back-arrow {
    
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255,255,255,0.8);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    transition: all .2s ease-in;
  } 
  .go-back-arrow:before {
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid rgba(255,255,255,0.8);
    border-width: 0px 0 2px 2px;
    margin-top: 8px;
    margin-left: 9px;
  }
  .go-back-arrow:hover{
    border: 2px solid white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  }

      /* End Back to Website */ 

        .application-container {
        }
        /*form styles*/
        #msform {
        width: 400px;
        margin: 50px auto;
        text-align: center;
        position: relative;
        }
        #msform fieldset {
        background: rgba(255,255,255, 0.2);
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        /*stacking fieldsets above each other*/
        position: absolute;
        }
        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
        display: none;
        }
        /*inputs*/
        #msform input, #msform textarea {
        padding: 15px;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        color: rgba(255,255,255, 0.8);
        font-size: 13px;
        }
        #msform textarea {
        background: transparent;
        color: rgba(255,255,255, 0.8);
        resize: none;
        }
        .white-opacity {
          background-color: inherit;
        }
        /*buttons*/
        #msform .action-button {
        width: 100px;
        background: #9E9E9E;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 2px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        }
        #msform .action-button:hover, #msform .action-button:focus {
        background-color: #e6e6e6;
        border-color: #adadad;
        }
        /*headings*/
        .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
        }
        .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: rgba(2255,255,255, 0.5);
        margin-bottom: 20px;
        }
        /*progressbar*/
        #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        }
        #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 33.33%;
        float: left;
        position: relative;
        }
        #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #333;
        background: white;
        border-radius: 3px;
        margin: 0 auto 5px auto;
        }
        /*progressbar connectors*/
        #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
        }
        #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
        }
        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
        background: #27AE60;
        color: white;
        }

        }

 
     /* End Application Form-Wizard */


     /* Romeo Hover Effect on Blog */

    *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.grid {
  color: #536d76;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
}

a {
  color: #4f7f90;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #39545e;
}

section {
  padding: 1em;
  text-align: center;
}
/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Related demos */
.related {
  padding: 6em 1em;
  font-size: 120%;
}

.related > a {
  border: 1px solid #4f7f90;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
}

.related a:hover {
  border-color: #39545e;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
}

.related a:hover img,
.related a:active img {
  opacity: 1;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}

@media screen and (max-width: 25em) {

  .codrops-header {
    font-size: 75%;
  }

  .codrops-icon span {
    display: none;
  }

}

.grid {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

/* Common style */
.grid figure {
  position: relative;
  z-index: 1;
  margin: -0.135em;
  height: 300px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Romeo *****/
/*---------------*/

figure.effect-romeo {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

figure.effect-romeo img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,300px);
  transform: translate3d(0,0,300px);
}

figure.effect-romeo:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 1px;
  background: #fff;
  content: '';
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

figure.effect-romeo:hover figcaption::before {
  opacity: 0.5;
  -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
  transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
  opacity: 0.5;
  -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
  transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-romeo h2 {
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
  transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.effect-romeo p {
  padding: 0.25em 2em;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
  transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.effect-romeo:hover h2 {
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
  transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.effect-romeo:hover p {
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
  transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}
/* End Romeo Hover Effect on Blog */