.mdl-dialog {
  border: none;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
  width: 50%;
  border-radius: 2px;
}
#request-contact-1, #request-contact-2, #request-contact-3 {
  width: 30%;
}
dialog::backdrop { 
    background: rgba(0, 0, 0, 0.5);
}
.mdl-dialog .btn-primary-default:hover, .mdl-dialog .btn-primary-default:focus, .mdl-dialog .btn-primary-default:active{
  background: transparent;
}

.mdl-dialog__title {
  padding: 0 24px;
  margin: 0 !important;
}

.mdl-dialog__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} 

.mdl-dialog__actions > *:first-child {
  margin-right: 0;
}

.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
  height: 48px;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right;
}

.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
}


  @media only screen and (max-width: 690px) {
    .mdl-dialog{width:95%;}}
  @media only screen and (max-width: 720px) {
    .mdl-dialog{width:90%;}}
  @media only screen and (max-width: 750px) {
    .mdl-dialog{width:85%;}}
  @media only screen and (max-width: 780px) {
    .mdl-dialog{width:80%;}}
  @media only screen and (max-width: 810px) {
    .mdl-dialog{width:75%;}}
  @media only screen and (max-width: 840px) {
    ..mdl-dialog{width:70%;}} 