/* YOUR CUSTOM STYLES */
html,
        body {
            height: 100%;
        }  

.row {
    margin-left:0 !important;
    margin-right:0 !important;
    padding-top: 70px;
    padding-bottom: 70px;
} 


header .row, .form-wrapper{
    padding-top: 0;
    padding-bottom: 0;
} 

footer a {
            color: rgba(255,255,255,0.5);
        }
        footer a:hover {
            color: rgba(255,255,255,0.5);
        }
        footer ul {
            margin-top: 1.5rem;
            margin-left: 2rem;
        }
        footer ul li{
            display: inline-block;
            line-height: 25px;
            margin: 0 15px 0 0;
            font-size:.8rem;
        }
/* Multiline Tooltip */
.mdl-tooltip{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:top center;transform-origin:top center;z-index:999;background:rgba(97,97,97,1);border-radius:2px;color:#fff;display:inline-block;font-size:10px;font-weight:500;line-height:14px;max-width:170px;position:fixed;top:-100px;left:-100px;padding:8px;text-align:center}
.mdl-tooltip.is-active{-webkit-animation:pulse 200ms cubic-bezier(0,0,.2,1)forwards;animation:pulse 200ms cubic-bezier(0,0,.2,1)forwards}
.mdl-tooltip--large{line-height:14px;font-size:14px;padding:16px}

/*  Logo  */
    #logo, .main-text, .mdl-dialog__content p {
        webkit-flex-direction: column; */
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -ms-justify-content: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        margin: 0;
        padding: 1rem 0 1rem 1.375rem;
        height:100%;
        display: inline-flex;
    }
    .main-text {
        padding: 0;
    }
/* Navbar */
        .nav-tabs .nav-link.active {
            border:none;
        }
        .nav-tabs .nav-link:hover {
            border:none;
        }
        .view h3 {
            margin-bottom:20px;
            margin-top:40px;
        } 

     
        /* Navigation*/
        
        .navbar {
            background-color: #fff;
            border-radius: 0 !important;
            z-index: 3000 !important;
        }
        #apply-navbar {
            margin:0;
            margin-right: -15px;
            box-shadow: none;
            float:right;
            cursor:default;
        }
        
        .scrolling-navbar {
            -webkit-transition: background .9s ease-in-out, padding .9s ease-in-out;
            -moz-transition: background .9s ease-in-out, padding .9s ease-in-out;
            transition: background .9s ease-in-out, padding .9s ease-in-out;


        }
        @media only screen and (max-width: 576px) {
            header .col-6 {
                padding-right: 0;
            } 
            #logo, .main-text {
                padding: 1rem 0 1rem 0;
            }
            #logo svg {
                display: none;
            }
            #about h3 {
                display: block !important;
            }
            #about {
                text-align: center !important;
            }
        }
        .top-nav-collapse {
            background-color: #f94b71;
            cursor: pointer !important;
        } 
        
        #main {
            padding:0;
            position:relative;
            z-index:2000;   
        }
        #main .row:first-child{
            height:auto;
            
        }

/* Calculator */
        #calculator-wrapper{
            width:100%;
            height:100%;
            background:linear-gradient(135deg,#4772d9 30%,#756de3 60%,#756de3);
            border-top-left-radius:6px;
            border-bottom-left-radius:6px;
            z-index:2000;
            float:right;
            
        }
        #calculator-wrapper .form-control {
            margin-top: 1rem;
        }
        #calculator-wrapper h2, #calculator-wrapper h3, #calculator-wrapper h4, #calculator-wrapper p, #calculator-wrapper input {
            color:#fff !important;
        } 
        #calculator-wrapper .input-group-addon {
            color: rgba(255, 255, 255, 0.8);            
            background-color: transparent;
        }


        #calculator-wrapper input.change::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgba(255, 255, 255, 0.8);
        }
        #calculator-wrapper input.change::-moz-placeholder { /* Firefox 19+ */
          color: rgba(255, 255, 255, 0.8);
        }
        #calculator-wrapper input.change:-ms-input-placeholder { /* IE 10+ */
          color: rgba(255, 255, 255, 0.8);
        }
        #calculator-wrapper input.change:-moz-placeholder { /* Firefox 18- */
          color: rgba(255, 255, 255, 0.8);
        }

        #calculator-wrapper .mdl-selectfield__box {
            border-bottom: 1px solid rgb(204, 204, 204) !important;
        }
         #calculator-wrapper .mdl-selectfield__list-option-box {
            top: 15px;
        }
        #calculator-wrapper .mdl-selectfield__box>i {
            color: rgb(204, 204, 204) !important;
        }


                                .valuation input[type=text]:disabled {
                                    font-size: 285%;
                                    color:white;
                                    border-bottom: none;
                                    cursor:text;
                                }  
                                #range-from, #range-to {
                                    font-weight: 200;
                                }
                                .input-group-addon-from, .input-group-addon-to {
                                    font-size: 285%;
                                    font-weight: 200;
                                    padding: 0;
                                    color: rgba(255, 255, 255, 0.8); 
                                    position: absolute;
                                    bottom:-16px;
                                    width:8%;
                                }

        #calculator-wrapper.mdl-selectfield__box>.mdl-selectfield__arrow-down__container .mdl-selectfield__arrow-down {
            border-top: 5px solid rgba(255,255,255, 0.6) !important;
        }
        .mdl-selectfield__box>.mdl-selectfield__arrow-down__container {
            right: 3px !important;
        }
 

/* Counters Section */ 
        #counters {
            background-color:#f3f3f3;
            background-image: url("../img/map.png");
            background-size: auto;
            height: auto;            
            text-align: center;
        } 
        #news {
            background-color:#f3f3f3;
        }

        .overlap {
            background-color:#f3f3f3;
            height: 100px;
            margin-top: -100px;
        }
        #listings {
            background-color:#f3f3f3;
            height: auto;            
            text-align: center;
        }


/* \. Counters Section */


        /*Call to action*/
        
        .flex-center {
            color: #fff;
        } 
        /*Contact section*/
        
        #contact .fa {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #1C2331;
        }
 


        /* Form Select */
        .mdl-selectfield__list-option-box {
            top:5px;
        }


        /* Add-on Checkbox Right*/
        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
            display: none;
        }
         
        .fancy-checkbox input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
        }
         
        .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
        /* Error Style */
        .with-errors {
            font-size:10px;
            color: #d9534f;
        }

        /* Input Autocomplete */
         .ui-helper-hidden-accessible {
            font-size: 10px;
            float: left;
        }
        .ui-menu {
            padding: 5px 0;
            list-style: none;
            background: rgba(255,255,255,1);
            border: none;
            border-radius: 2px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
            transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
            width:100%;
            max-width: 300px;
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: auto;

        }
        .ui-menu .ui-menu-item {
            font-size: 16px;
            line-height: 19px;
            min-height: 19px;
            padding: 10px 14px 8px 14px;
            transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
            outline: none;
        }
        .ui-menu .ui-menu-item:hover {
            background-color:#eee;
        }
        .ui-widget-content a {
            color: rgba(33,33,33,0.87);
        }
 

/* FORM styles*/

#msform {
    text-align: center;
    width: 100%;
    margin: 50px auto;
    position: relative;
}

#msform .mdl-selectfield__list-option-box li, #msform .mdl-selectfield__box {
    text-align:left;
}

#msform .with-errors{
    text-align: left;
}
#msform fieldset {
    padding: 20px 30px;
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
    position: relative;
    width: 100%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
 
 
i, cite, em, var, address, dfn {
    font-style: normal !important;
}
  

/*progressbar*/
#progressbar {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #37474f;
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #f3f3f3;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #f3f3f3;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #f94b71;
    color: white;
}


.custom-link {
  color: #636c72 !important;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-rounded { 
    border-radius:50% !important;
    height: 56px;
    margin: 0 !important;
    min-width: 56px;
    width: 56px; 
    padding: 1rem !important;
}
#go-back {
    position: absolute;
    top: -30px;
    z-index: 3000;
    right:15px;
}
/* END APPLICATION */